<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download</title>

        <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
        <script src="/js/download_reports.js" async crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <style>
            form {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                width: 90%;
                height: 90%;
                margin: auto;
                padding: 5px;
            }
        </style>
    </head>

    <body>
        <form id='form'>
            <select name='memberReport' id='memberReport'>
                <option value='0'> Selecione um membro </option>
            </select>

            <input type="date" name="dtReport" id="dtReport" />

            <button id='button' class="mod-primary"> 
                Gerar relatório
            </button>
        </form>
    </body>
</html>