<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Relatórios </title>

        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <script src="/js/trello_functions.js"></script>
        
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <link rel="stylesheet" href="css/reports_list.css">
    </head>

    <body>
        <ol id='reportsList'></ol>
        <script src="/js/reports_list.js"></script>
    </body>
</html>