<div class="report_container">
    <!-- delimitador 1-->
    <div class="item_body member">
        <div class="div_caixa">
            <div class="name_member"><!--nome do cara aqui--></div>
            <div class="perfil_member"
                style="background-image: url(<!-- avatar aqui link -->);">
            </div>
            <br>
        </div>
    </div>
    <!-- delimitador 2-->
    <div class="item_body card">
        <!-- texto do card aqui-->
    </div>
    <!-- delimitador 3-->
    <div class="item_body tag">
    <!--tag aqui-->
        <div class="tags" style="background-color: rgb(17, 70, 70);"><!--nome da tag--></div>
    </div>
    <!-- delimitador 4-->
    <div class="item_body date">
        <!--data, inicio e fim-->
    </div>
    <!-- delimitador 5-->
    <div class="item_body start_end">
        <!-- diferenca de data-->
    </div>
    <!-- delimitador 6-->
    <div class="item_body link">
        <div class="link_trello">
            <a class="trello" href="">
                Trello:
            <a>
            <br>
            <a class="Commit"
                href="">
                Commit
            </a>
        </div>
    </div>
    <!-- delimitador 7-->
    <div class="item_body comment">
       <!--Commentario da tarefa aqui-->
    </div>
</div>