<html>

<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>

<body>
    <center>
        <form id="exportData">
            <label for="typeData">Escolha o formato do arquivo:</label>
            <select name="type" id="typeData">
                <option value="PDF">PDF </option>
                <option value="EXCEL">Excel</option>
                <option value="CSV">CSV</option>
                <option value="JSON">JSON</option>
            </select>
            <button type="submit" class="mod-primary">Save</button>
        </form>
    </center>
    <script src="./js/type_export.js"></script>
    <script src="./js/trello_functions.js"></script>
</body>

</html>