
.remove_report{
    width: 10px;
    height: 10px;
    background-color: red;
    cursor: pointer;
    top: 0;
    right: 0;
}
.report {
    display: flex;
    flex-direction: row;
    max-width: 490px;
    max-height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    cursor: pointer
}
.report p {
    width: 230px;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}
.report a {
    width: 50px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}
.report object {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.report .datetimeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-width: 100px;
}