
.remove_report{
    width: 10px;
    height: 10px;
    cursor: pointer;
    top: -40p;
    right: 0;
    font-size: 12px;
}
#txt_info, #et-secondary-menu {
    text-align: justify;
}
.report {
    max-width: 490px;
    max-height: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.report div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.report p {
    width: 230px;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}
.report a {
    width: 50px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}
.report object {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.report .datetimeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-width: 100px;
}