p, a, li, div, ul, hr, body{
    margin: 0;
    padding: 0;
}
body{
    -webkit-print-color-adjust: exact;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: black;

}
.container{
    height: 100%;
    padding: 2px;
    
    
}
.container_header{
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: solid #666666 1px;
    display: flex;
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom:10px;
}
.item_header{
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-left: solid 1px #777777;
    text-align: center;
    box-sizing: border-box;
    
}
.member{
    width: 15%;
    border-left: 0;
    border-right: 0;
}
.perfil_member{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    float: left;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
}

.div_caixa{


    width: 100%;
    padding-left: 5px;
}
.name_member{
    margin-top: 10px;;
    float: left;
    width: 70%;
    text-align: justify !important;
    padding-left: 5px;
    box-sizing: border-box;
    display: block;
}
.card{
    width: 15% ;
}
.tag, .date, .start_end {
    width: 10%;
    
}
.sla{
    background-color: aquamarine;
}
.tag{
    display: block !important;
    /* font-size: 14px !important; */
}
.tags{
    
    font-size: 14px !important;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 3px;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    color: white;
    overflow: hidden;
    font-weight: bold;
    -webkit-text-stroke-width: 0.3px; /* largura da borda */
    -webkit-text-stroke-color: #000;
}
.link{
    width: 10%;
}
.comment{
    width: 30%;
}
.report_container{
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 2px;
    border: solid 1px #777777 ;
    
}
.report_container > :first-child{
    border: 0;
}
p{
    width: 100%;
    word-wrap: break-word;
}
.Commit, .trello{
    font-size: 17px;
}
.link_trello{
    width: 100%;
}
.item_body{
    border-left: solid 1px #777777 ;
    padding-top: 7px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    overflow: hidden;
}

table{
    page-break-inside:auto;
}
div{   
    page-break-inside:avoid;
    page-break-after:auto;
}
thead{   
    display:table-header-group;
}
tfoot{   
    display:table-footer-group;
}