html{
    overflow-x: hidden;
}

h3{
    font-family: sans-serif;
    font-size: 15px;
}

.report{
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .3); */
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Icone de fechar modal */
.remove_report{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.img_remove_report{
    width: 10px;
    height: 10px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.li_report{
    list-style-type: none;
    margin-top: 20px;
    width: 490px;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Comentário e detalhes do relatório */
.comment_report{
    padding: 15px 15px 10px 15px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px 5px 0 0; 
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}
.comment_report h3{
    margin-bottom: 20px;
}
.details_report{
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/* Data de íniico */
.date_details{
    margin-top: 10px;
}

/* Data e commit */
.date_details, .commit_details{
    display: flex;
}
.date_details h3, .commit_details h3{
    font-style: italic;
    font-size: 14px !important;
}
.commit_details a{
    text-decoration: none;
}
.pCommit, .pDate{
    margin-left: 10px;
    font-size: 13px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.pDate{
    padding-top: 1px;
}

/* Comentário */
.pComment{
    text-align: justify;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}




















/* .remove_report{
    width: 10px;
    height: 10px;
    cursor: pointer;
    top: -40p;
    right: 0;
    font-size: 12px;
} */
/* #txt_info, #et-secondary-menu {
    text-align: justify;
} */

/* .report { */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 490px;
    max-height: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding-bottom: 15px; */
/* } */
/* .report p { */
    /* width: 230px;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px; */
/* } */
/* .report a { */
    /* width: 50px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px; */
/* } */
/* .report object { */
    /* width: 30px;
    height: 30px;
    margin-right: 20px; */
/* } */
/* .report .datetimeInfo { */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-width: 100px; */
/* } */