html{
    overflow-x: hidden;
}

h3{
    font-family: sans-serif;
    font-size: 15px;
}

/* NOVO RELATÓRIO */
#container_newReport{
    width: 480px;
    height: auto;
    margin: 15px 0 35px 0;
}

#btn_newReport{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 130px;
    margin-left: auto;
    cursor: pointer;
}

#btn_newReport span{
    font-size: 14px;
    color: #172B4D;
    font-weight: bold;
    margin-right: 10px;
}

#form_newReport{
    width: 100%;
    height: auto;
    display: none;
}

#img_openFormReport{
    width: 20px;
    height: auto;
}

#container_reportsList{
    width: 480px;
    height: auto;
}

#reportsList{
    width: 100%;
    height: auto;
}

.title_reportsList{
    width: 100%;
    height: 12px;
    border-bottom: solid 1px #172B4D;
    margin: 15px 0 35px 0;
    text-align: center;
}

/* Cabeçalho após o click em 'Novo Relatório' */
#header_newReport{
    width: 100%;
    height: 12px;
    border-bottom: solid 1px #172B4D;
    text-align: center;
}

.title_reportsList span, #header_newReport span{
    font-size: 16px;
    background-color: #f4f5f7;
    color: #172B4D;
    padding: 0 15px;
    font-weight: bold;
}

/* CORPO DO FORMULÁRIO */
#body_newReport{
    width: 100%;
    height: auto;
    margin: 30px 0 35px 0;
}

/* TAMANHOS DE DIVS DO FORMULÁRIO */
#dateTime_newReport{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

#task_start, #task_end{
    width: 130px;
}
#task_end{
    margin: 0 20px;
}
#task_start, #task_end, #task_day{
    height: 70px;
}

/* INPUTS E LABELS DO FORMULÁRIO */
#task_start input, #task_end input{
    width: 130px;
    height: 35px;
}
#task_day input{
    width: 180px;
    height: 35px !important;
}

#task_start label, #task_end label, #task_day label, #commit_newReport span{
    font-size: 14px;
    font-weight: bold;
    color: #172B4D;
}

/* COMMIT E COMENTÁRIO DO FORMULÁRIO */
#commit_newReport{
    width: 100%;
    height: 70px;
    margin: 30px 0;
}
#comment_newReport{
    width: 100%;
    height: auto;
    margin: 30px 0;
}
#commit_newReport input, #comment_newReport textarea{
    width: 100%;
}

/* RELATÓRIO */
.report{
    border: solid 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

/* Icone de fechar modal */
.remove_report{
    width: 478px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.img_remove_report{
    width: 10px;
    height: 10px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.li_report{
    list-style-type: none;
    margin-top: 20px;
    width: 480px;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Comentário e detalhes do relatório */
.comment_report{
    padding: 15px 15px 10px 15px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    width: 100%;
    height: auto;
    background-color: #eaecf0;
    border-radius: 5px 5px 0 0; 
    border-bottom: solid 0.5px rgba(151, 96, 96, 0.05);
}
.comment_report h3{
    margin-bottom: 20px;
}
.details_report{
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/* Data de íniico */
.date_details{
    margin-top: 10px;
}

/* Data e commit */
.date_details, .commit_details{
    display: flex;
}
.date_details h3, .commit_details h3{
    font-style: italic;
    font-size: 14px !important;
}
.commit_details a{
    text-decoration: none;
}
.pCommit, .pDate{
    margin-left: 8px;
    font-size: 13px;
    font-family: sans-serif;
    box-sizing: border-box;
    padding-top: 1px;
}

/* Comentário */
.pComment{
    text-align: justify;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}




















/* .remove_report{
    width: 10px;
    height: 10px;
    cursor: pointer;
    top: -40p;
    right: 0;
    font-size: 12px;
} */
/* #txt_info, #et-secondary-menu {
    text-align: justify;
} */

/* .report { */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 490px;
    max-height: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding-bottom: 15px; */
/* } */
/* .report p { */
    /* width: 230px;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px; */
/* } */
/* .report a { */
    /* width: 50px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px; */
/* } */
/* .report object { */
    /* width: 30px;
    height: 30px;
    margin-right: 20px; */
/* } */
/* .report .datetimeInfo { */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-width: 100px; */
/* } */